.toolbox__voices {
  @apply flex flex-col gap-y-4 w-fit;

  .toolbox__voice {
    @apply flex p-2 rounded bg-gray-light gap-x-2 transition-all duration-500 hover:bg-light-blue cursor-pointer;
    @apply items-center justify-center;
    @apply hover:outline hover:outline-1 outline-blue;
  }

  .toolbox__voice.active {
    @apply bg-light-blue outline outline-1 outline-blue;
  }

  .button--play {

    @apply text-white rounded-full text-sm p-2 text-center inline-flex justify-center items-center ;
    padding: 5px;
    margin: 5px;
    width: 40px;
    height: 40px;
    img {
      height: 15px;
      width: 15px;
    }
  }

  .button--play.playing{
    @apply bg-blue
  }

  .button--play.paused{
    @apply bg-gray-dark;
  }


}

.sample {

  @apply relative;

  &__title {
    @apply text-2xs text-gray-dark;
  }

  &__percentage{
    @apply absolute right-1 top-1 text-2xs
  }


}